# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
.terraformrc
terraform.rc

# Terraform lock file
# Keep this file if you want reproducible provider versions.
# Uncomment the next line only if you intentionally don't want to commit it.
# **/.terraform.lock.hcl
